<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}images\lotus_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/first.css">
    <title>{{ register.name }}</title>
</head>
<body>
    <div class="container">
        <a href="start">
            <div class="title">
                <h1>LOTUS</h1>
            </div>
            <div class="ghost">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </a>
    </div>
</body>
</html>