<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}images\lotus_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index/responsive.css">
    <link rel="icon" href="{{ STATIC_URL }}images/index/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <title>LOTUS</title>
</head>

<body class="main-layout">
    <div class="loader_bg">
        <div class="loader"><img src="{{ STATIC_URL }}images/index/loading.gif" alt="#" /></div>
    </div>
    <header>
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href="home"><img style="position: relative;bottom: 125px;" src="{{ STATIC_URL }}images/index/logo.png" alt="#" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <ul class="top_icon">
                                <li class="button_login"> <a href="welcome">Login</a> </li>
                                <li> <a href="welcome">Signup</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <section class="slider_section">
                <div class="banner_main">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 padding_left0">
                                <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"> <a href="#game">Game</a> </li>
                                            <li> <a href="#software">Software</a> </li>
                                            <li> <a href="#about">About</a> </li>
                                            <li> <a href="#testimonial">Testimonial</a> </li>
                                            <li> <a href="#contact">Contact</a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="text-bg">
                                    <h1>amazing<br> offline game</h1>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut</span>
                                    <a href="#">download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </section>
        </div>
    </header>

    <div id="games" class="our">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Games</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for game in games %}
                    <div class="col-md-12 margin_bottom">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="two-box">
                                    <figure><img class="img-1" src="{{ MEDIA_URL }}{{ game.game_img }}" alt="#" /></figure>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <div class="Games">
                                    <h3>{{ game.game_name }}</h3>
                                    <p style="text-align: justify;">{{ game.game_details }}</p>
                                    <a href="{{ game.download_link }}"> Download </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
   
    <div id="software" class="We_are">
        {% for software in sft %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>{{ software.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="box_bg">
                            <div class="box_bg_img">
                                <figure><img src="{{ MEDIA_URL }}{{ software.img }}"></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 border_right">
                        <div class="box_text">
                            <p style="text-align: justify;">{{ software.description }}</p>
                            <a href="{{ software.link }}">READ MORE</a>
                        </div>
                    </div> 
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>About Our Game</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="about-box">
                        <figure><img style="width: 80%;" src="{{ STATIC_URL }}images/index/about.jpg" alt="#" /></figure>
                        <p> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            <br> labore et dolore magna aliqua. Ut enim conseq</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="testimonial" class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Testimonial</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 offset-md-2">
                    <div class="row box" style="left: 4%;position: relative;">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img style="width: 77%;" src="{{ STATIC_URL }}images/index/test1.png" alt="#" /></figure>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img style="width: 77%;" src="{{ STATIC_URL }}images/index/test2.png" alt="#" /></figure>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img style="width: 77%;" src="{{ STATIC_URL }}images/index/test3.png" alt="#" /></figure>
                            </div>
                        </div>
                    </div>
                    <div class="clients_box">
                        <h3>Jecoo</h3>
                        <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            <br>aliqua. Ut enim ad minim veniam, quis
                            <br>nostrud exercitation ullamco</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <footr>
        <div class="footer ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Newsletter</h2>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <form class="news">
                            <input class="newslatter" placeholder="Enter Your Email" type="text" name="Enter Your Email">
                            <button class="submit">Subscribe</button>
                        </form>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <ul class="social_link">
                                        <li><a href="#"><img src="{{ STATIC_URL }}icon/fb.png"></a></li>
                                        <li><a href="#"><img src="{{ STATIC_URL }}icon/tw.png"></a></li>
                                        <li><a href="#"><img src="{{ STATIC_URL }}icon/lin(2).png"></a></li>
                                         <li><a href="#"><img src="{{ STATIC_URL }}icon/instagram.png"></a></li>
                                    </ul>
                                    <a href="index.html"> <img style="position: relative;height: 179px;bottom: 60px;right: 10%;" src="{{ STATIC_URL }}images/index/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>Quick links</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"> <img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#game">Game</a> </li>
                                        <li><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#software">Software</a> </li>
                                        <li><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#about">About</a> </li>
                                        <li><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#testimonial"> Testimonial</a> </li>
                                        <li><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#contact">Contact</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>downloded</h3>
                                    <ul class="Links_footer">
                                        <li class="active"><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#">Lorem Ipsum </a> </li>
                                        <li><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#">Simply random</a> </li>
                                        <li><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#">Roots in a</a> </li>
                                        <li><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#"> Piece</a> </li>
                                        <li><img src="{{ STATIC_URL }}images/index/3.png" alt="#"> <a href="#">Classical</a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Contact us </h3>
                                    <ul class="loca">
                                        <li>
                                            <a href="#"><img src="{{ STATIC_URL }}icon/loc.png" alt="#" /></a>Mongolia
                                            <br>Ulaanbaatar</li>
                                        <li>
                                            <a href="#"><img src="{{ STATIC_URL }}icon/email.png" alt="#" /></a>lotus@gmail.com </li>
                                        <li>
                                            <a href="#"><img src="{{ STATIC_URL }}icon/call.png" alt="#" /></a>+12586954775 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="copyright">
                <div class="container">
                    <p style="text-align: justify;">© 2019 All Rights Reserved. <a href="https://html.design/">Free html Templates</a></p>
                </div>
            </div>
        </div>
    </footr>
    <script src="{{ STATIC_URL }}js/index/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/index/popper.min.js"></script>
    <script src="{{ STATIC_URL }}js/index/bootstrap.bundle.min.js"></script>
    <script src="{{ STATIC_URL }}js/index/jquery-3.0.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/index/plugin.js"></script>
    <script src="{{ STATIC_URL }}js/index/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ STATIC_URL }}js/index/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>